* {
  padding: 0;
  margin: 0;
}
body {
  background: rgb(243, 247, 250);
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 150px 20px;
}
